.nav {
  background-color: rgb(165, 165, 199);
  padding: 0;
  margin: 0;
}

.nav li {
  display: inline-block;
}

.nav li a {
  display: inline-block;
  padding: 10px;
  color: rgb(255, 255, 255);
}

.nav li:hover {
  background-color: rgb(130, 130, 160);
}
.nav .signfloat {
  float: right;
}
